* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*palette_colori*/

:root {
    --gia-main_title: #ff9614;
    --gai-subtext: rgb(167, 165, 165);
    --gai-text: #4e3969;
    --gai-main: #f6f5f3;
    --gai-rule: #f7972e;
    --gai-credits: #7c69a4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90px;

    #main_title_header {
        font-family: 'Nerko One', cursive;
        color: var(--gia-main_title);
        text-shadow: 1px 1px 1px gray;
        font-size: 60px;
    }
}

main {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    padding: 25px;
    background-color: var(--gai-main);

    #sottotesto {
        color: var(--gai-subtext);
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    /*titolo e parentesi a scomparsa*/

    #container_title_parenetsi_tiramisù {
        display: flex;
        margin-bottom: 30px;

        #title_tiramisù {
            color: var(--gai-text);
            display: flex;
            margin-right: 10px;

        }

        #parentesi_tiramisù {
            display: none;
            color: var(--gai-text);
        }
    }

    /*video e cicetta tiramisù*/

    #row_video_ricetta {
        display: flex;
        flex-direction: column;
        height: 660px;
        margin-bottom: 40px;


        #container_video {
            display: flex;
            height: 320px;
        }

        #container_ricetta {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 340px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 40px;
            background-color: white;
            box-shadow: 3px 3px 10px gray;

            #paragrafi_ricetta {
                margin-top: 20px;
            }
        }
    }

    /*link social a scomparsa*/

    #row_link_social {
        display: flex;
        justify-content: space-between;

        .container_link_social {
            display: flex;
            justify-content: center;
            width: calc(100% / 12 * 1);
            background-color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 100px;
            box-shadow: 3px 3px 5px gray;

            .fa-facebook {
                color: #1a77f3;
            }

            .fa-twitter {
                color: #009eff;
            }

            .fa-instagram {
                color: #e15689;
            }

            .fa-pinterest,
            .fa-youtube {
                color: #e62323;
            }

            .social_text {
                display: none;
                text-decoration: none;
                color: black;

            }
        }
    }

    #banner {
        display: none;
        margin-top: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 125px;
        background-image: url(../assets/img/banner.png);
    }

    /*PRESENTATION*/

    #container_presentation {
        margin-top: 50px;
        margin-bottom: 25px;

        #presentation {
            font-size: 35px;
            margin-bottom: 15px;
        }

        hr {
            border-color: var(--gai-rule);
            width: 13%;
        }
    }

    #container_foto_paragrafo_tiramisù {
        display: flex;

        align-items: center;
        flex-direction: column;
        height: 460px;

        #foto_tiramisù {
            height: calc(100% / 12 * 5);
            width: calc(100% / 12 * 4);
            background-image: url(../assets/img/tiramisu.jpg);
            background-size: cover;
            background-repeat: no-repeat;

        }

        #paragrafo_tiramisù {
            height: calc(100% / 12 * 7);
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    height: 200px;
    background-color: var(--gai-credits);

    #row_footer_title_link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 140px;
        width: 500px;


        #container_title_footer {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 50px;
        }

        #container_link_footer {
            display: flex;
            justify-content: space-between;
            width: 480px;


            .link_footer {
                color: white;
            }
        }

        #link_footer_low {
            color: white;
        }
    }
}